#contact{
    main{
        .content{
            .contact{
                width: 75%;
                margin: 30px auto;

                .form{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    margin: 40px auto;
                    font-weight: bold;

                    .field{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        gap: 20px;
                    }

                    .message{
                        margin-top: 20px;
                        width: 95%;
                        height: 200px;
                    }

                    a{
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        
                        height: 50px;
                        width: 200px;
                        background-color: #000;
                        color: white;
                    }
                }
            }
        }
    }
}